@charset "UTF-8";
@font-face {
    font-family: "fontawesome-webfont";
    src: url("../fonts/font-awesome/fontawesome-webfont.eot");
    src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"),
        url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"),
        url("../fonts/font-awesome/fonfeedback-an…2.5.css:439tawesome-webfont.svg#ffontawesome-webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*
* Выдвигающаяся верхняя панель
* исключительно средствами CSS
* работает на скрытых чекбоксах(checkbox)
*
* автор: @dobrovoi dbmast.ru
*/
body, html {
    font-family: ubuntu;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}


h1 {
    font-weight: 300;
    font-size: 175%;
    color: #191919;
    -webkit-font-smoothing: antialiased
}

h2 {
    font-weight: 300;
    font-size: 130%;
    color: #888;
    padding: 5px 0
}

.info {
    margin: 50px auto;
    text-align: center
}

.info a {
    text-decoration: none;
    color: #016993
}

.info a:hover {
    color: #ad8c02
}

.fa {
    color: #444242
}

.anchor {
    text-decoration: none;
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 90%
    }
}



@media only screen and (max-width: 800px) {
    body {
        font-size: 100%
    }
}

@media only screen and (min-width: 1100px) {
    body {
        font-size: 120%
    }
}

/*  ===== Выдвигающаяся верхняя панель
*   =========================================
*   Базовый контейнер выдвижной панели */
.top-panel {
    display: -wedkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 11px;
    position: absolute;
    z-index: 13;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: top 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    font-size: 12px;
    text-transform: uppercase;
    color: #969494;
    cursor: pointer;
}



/* Блок сообщения */
.message {
    display: -wedkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    color: #fff;
    font-weight: 300;
    padding: 3em 2em;
    margin: 0 auto;
    height: 249px;
    width: 100%;
}

/* Заголовок 1 уровня */
.message h1 {
    color: #fff
}

/* Заголовок 2 уровня */
.message h2 {
    color: #888
}

.message p {
    margin: 1em 0
}

.message a {
    text-decoration: none;
    color: #748b74
}

.message a:hover {
    color: #95984b
}

/* Переключатель панели */
label.btn {
    display: block;
    position: absolute;
    left: 50px;
    top: 20px;
    cursor: pointer;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 2px 3px 5px;
    color: #444242;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    z-index: 9999;
    border: 1px solid #bfb9b9;
}

/* Переключатель при наведении */
label.btn:hover {
    /* box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) */
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

}

/* Стрелка переключателя вниз */
label.btn::before {
    content: '\f078';
    font: normal 18px/1 FontAwesome;
    text-decoration: inherit;
    position: relative;
    top: 6px;
    left: 9px;
}

label.btn:after {
    content: '\f078';
    font: normal 18px/1 FontAwesome;
    text-decoration: inherit;
    position: relative;
    top: 12px;
    left: -9px;
}

/* Активация панели */
.open:checked~.top-panel {
    top: 0
}

.open:checked~label.btn {
    /* top: 250px; */
    top: 12px;
    left: 12px;
    color: #fff;
    width: 40px;
    height: 40px;
    box-shadow: none;
    padding: 0;
}

/* Смещение контейнера контента страницы */
.open:checked~.container {
    margin-top: 300px;
    margin-top: 250px;
}

/* Цвет переключателя при клике */
.open:checked+label.btn {
    -webkit-background-origin: padding-box;
    background-origin: padding-box;

}

/* Стрелка переключателя вверх*/
.open:checked+label.btn:after {
    content: '\f077';
    font: normal 18px/1 FontAwesome
}

/* #wrap-nav.trigger-card {
    display: -wedkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 40px;
} */

/* nav#menu.toggleMenu {
    position: absolute;
    top: 0;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 2px;
   
} */

/* nav#menu  */
ul#topmenu.topmenu {
    display: -wedkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 40px;

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* width: 100%; */
   
}

/* .topmenu .fa, 
.submenu .fa {
  margin-left: 5px;
  color: inherit;
} */


/* nav#menu ul.topmenu::after {
  content: "";
  display: table;
  clear: both;
} */

/* #wrap-nav.trigger-card nav#menu  */
#topmenu li.trigger-card-btn {
    display: -wedkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width: 164px;
    height: 28px;
    background-color: #dedede;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: #1d1414;
    text-shadow: -1px -1px 0 rgba(241, 241, 241, 66%);
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    margin: 10px 16px;
    background-color: #9e9e9e;
}

/* #wrap-nav.trigger-card nav#menu  */
ul#topmenu.topmenu li.trigger-card-btn:nth-child(1) {
    padding: 5px 5px;
    width: 220px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* nav#menu.toggleMenu ul.topmenu li.trigger-card-btn {
    float: left;
    
    position: absolute;
   
    color: #1d1414;
    left: 0;
    border-left: 1px solid black;
} */

ul.topmenu li:nth-child(1).trigger-card-btn {
    order: 1;
    width: 100px;
    top: 0;
    left: 4px;
}

/* #menu.toggleMenu li:nth-child(2)[data-menuanchor] {
    order: 2;
    width: 100px;
    top: 0;
    left: 117px;
} */

ul.topmenu li.trigger-card-btn a {
    position: relative;
    width: 100%;
    color: #1d1414;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: .3s linear;
    
}

ul.topmenu li:nth-child(1).trigger-card-btn a {
    /* padding: 5px 1px 5px 19px; */
    padding: 13px 5px;
    /* left: -1px; */
}

/* #menu.toggleMenu li:nth-child(2)[data-menuanchor] a {
    padding: 5px 1px 5px 32px;
} */
/* .showLink-1,
.showLink-2,
.showLink-3,
.showLink-4 {
    background-color: transparent;
    padding: 0 23px;
    position: absolute;
    right: 0;
} */
ul.topmenu li.trigger-card-btn a:hover {
    background-color: rgba(190, 190, 190, 1);
    color: #252525;
    font-weight: normal;
    /* -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), -1px -1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), -1px -1px 2px 1px rgba(0, 0, 0, 0.5); */
    /* padding: 5px 1px 5px 19px; */
    padding: 10px 20px;
    /* border-radius: 3px; */
    /* top: 1px; */
    width: 100%;
}

ul.topmenu li:nth-child(1).trigger-card-btn a:hover {
    padding: 5px 1px 4px 19px;
}

/* #menu.toggleMenu li:nth-child(2)[data-menuanchor] a:hover {
    padding: 5px 1px 4px 32px;
} */

ul.topmenu li.trigger-card-btn a:before {
    position: absolute;
    
    font-size: 16px;
   
}

ul.topmenu li:nth-child(1).trigger-card-home h5:before {
    font-family: "fontawesome-webfont";
    content: '\f015';
    top: 3px;
    left: 3px;
    color: #252525;
}
ul.topmenu li.trigger-card-btn a:active, .submenu a:hover {
    color: #ddbe86;
}
/* .submenu a:hover,.submenu .submenu a:hover {
    padding-left: 15px;
}   */
/* .submenu {
    position: absolute;
    top: 28px;
    z-index: 5;
    min-width: 96%;
    background: white;
   
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;  
} */
/* .submenu li {position: relative;} */
/* .submenu li a {
  color: #282828;
  
  padding: 8px 1px 8px 19px;
 
  border-bottom: 1px solid #c7c7c7;
  
   background-color: #e2e1e1; 
} */
/* .submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
} */

/* nav#menu.toggleMenu  */
/* li.trigger-card-btn:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
} */
#topmenu .trigger-card-btn:hover:nth-child(1),
#topmenu .trigger-card-btn:hover:nth-child(2),
#topmenu .trigger-card-btn:hover:nth-child(3),
#topmenu .trigger-card-btn:hover:nth-child(4),
#topmenu .trigger-card-btn:hover:nth-child(5) {
    background-color: rgba(190, 190, 190, 1);
    color: #252525;
    font-weight: normal;
    -moz-box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px 4px rgba(0, 0, 0, 0.5);
    height: 26px;
}









